.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.filters {
  background: #fff;
  border: 1px solid #eee;
  padding: 12px;
  border-radius: 8px;
}

.tableWrap {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px 12px;
  border-bottom: 1px solid #f0f0f0;
}

.table th {
  background: #fafafa;
  text-align: left;
  cursor: pointer;
}

.pager {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}


.centerModal {
  :global(.ant-modal-content) {
    border-radius: 12px;
  }

  /* Tiêu đề giữa */
  :global(.ant-modal-header) {
    text-align: center;
  }

  :global(.ant-modal-title) {
    width: 100%;
    text-align: center;
  }

  /* Footer giữa (nếu dùng footer) */
  :global(.ant-modal-footer) {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}

/* Bọc nội dung để luôn căn giữa */
.pdfWrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* theo trục dọc */
  justify-content: center;
  /* theo trục ngang */
}

