.root { 
  min-height: 100vh; 
}

.sider { 
  position: fixed !important;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 100;
}


.header { 
  display: none; // Ẩn header hoàn toàn
  position: fixed;
  top: 0;
  right: 0;
  left: 240px;
  height: 64px;
  z-index: 99;
  align-items: center; 
  padding-inline: 16px; 
  font-weight: 600; 
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.content {
  margin-left: 240px; // Space for fixed sidebar width
  height: 100vh;
  padding: 16px;
  overflow-y: auto;
  background: #f5f5f5;
}

.inner { 
  background: #fff; 
  padding: 16px; 
  border-radius: 8px; 
}