.wrapper {
    padding: 0;
    background: #f5f7fa;
    min-height: 100%;
}

.breadcrumb {
    max-width: 1200px;
    margin: 0 auto 8px;
}

.card {
    max-width: 1440px;
    width: 100%  !important;
    margin: 0;
    border-radius: 12px;
}