.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logoIcon {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
}

.brandName {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -0.015em;
  margin: 0;
  line-height: 1.2;
}

.header {
}

.footer {
}

