.staff-listing {
  padding: 16px;

  &__filter {
    margin-bottom: 16px;
  }

  &__stats {
    margin-bottom: 16px;

    .ant-statistic {
      transition: all 0.2s;
    }

    .ant-statistic:hover {
      background: #fafafa;
    }

    span {
      transition: all 0.2s;
    }
  }

  &__table {
    background: #fff;
  }
}
