.search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 22px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 8px 16px;
  max-width: 1200px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  gap: 12px;

  .search-input {
    flex: 1;
    border: none !important;
    box-shadow: none !important;
  }

  // Nếu muốn style riêng cho button
  .ant-btn {
    font-weight: 500;
  }
}
