.category-filter {
  margin-bottom: 20px;

  .category-statistics {
    .ant-card {
      cursor: pointer;
      text-align: center;
      border-radius: 10px;
      transition: all 0.3s;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

      p {
        font-size: 14px;
        font-weight: 500;
        color: #333;
        margin: 0;
      }

      &:hover {
        border-color: #1890ff;
        box-shadow: 0 0 8px rgba(24, 144, 255, 0.25);
      }

      &.selected {
        border: 2px solid #1890ff !important;
        box-shadow: 0 0 8px rgba(24, 144, 255, 0.3);
      }
    }
  }
}
