.container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 12px;
    margin: 12px 0 8px;
}

.shortcuts {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.label {
    font-weight: 600;
    margin-right: 4px;
}

@media (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
    }
}